[Unit]
Description=Make Tmp for cai
After=systemd.mount

[Service]
Type=oneshot
RemainAfterExit=yes
User=$USER
Group=$(id -gn)
ExecStart=/home/cai/.local/bin/mktmp


[Install]
WantedBy=default.target
